td{
    font-size: 0.9rem;
}
table{
    margin-top: 1rem;
}
@media (max-width: 660px) {
   th{
    font-size: medium;
        padding: 0.2rem 0.2rem;

   }
   td{
    font-size: medium;
    padding: 0.2rem 0.2rem;

   }
  
  }
@media (max-width: 500px) {
   th{
    font-size: medium;
            padding: 0.1rem 0.1rem;

   }
   td{
    font-size: smaller;
            padding: 0.1rem 0.1rem;

   }
   
  }
@media (max-width: 375px) {
   th{
    font-size: small;
            padding: 0.1rem 0.1rem;

   }
   td{
    font-size: x-small;
            padding: 0.1rem 0.1rem;

   }
   
  }