<header class="header">
  <div class="left">
    <a routerLink="/"><h2>PostNTask</h2></a>
  </div>
  <div class="right d-flex align-items-center">
    {{ currentDateTime }}
  </div>
</header>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-end">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-start"
      [class.show]="isNavbarOpen"
      id="navbarNav"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
          >
            Users
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/posts"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="closeNavbar()"
          >
            Posts
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="main-content d-flex justify-content-center">
  <div class="content-wrapper w-100">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="footer">
  <div><p>&copy; 2025 PostNTask</p></div>
</footer>
