.custom-modal{
    margin-left: auto;
    margin-right: auto;
    width: 40%;

    h5{
        font-size: 1rem;
    }
    p{
        font-size: 0.9rem;
    }
}
@media (min-width: 1030px) {
    .custom-modal{
        min-width: 438px;
    }
    
}
@media (min-width:580px) {
    .custom-modal{
        min-width:340px;
    }
    
}
@media (max-width: 660px) {
    .custom-modal{

    h5{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.8rem;
    }
    button{
      width: 30%;
      font-size: smaller;
      display: flex;
      justify-content: center;
    }
}
  }
@media (max-width: 580px) {
   
 .custom-modal{
    width: 60%;
    button{
      font-size: x-small;

    }
 }

   
  }

  @media (max-width: 400px) {
   
 .custom-modal{
    width: 70%;
     h5{
        font-size: 0.8rem;
    }
    p{
        font-size: 0.7rem;
    }
    button{
      font-size: x-small;
      width: 25%;


    }
 }

   
  }
  @media (max-width: 375px) {
   
 .custom-modal{
    width: 60%;
    
 }

   
  }

